<html>
<head>
  <title>Analysis for {{name}}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
 <body>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand">Cryptic</a>
         <div class="collapse navbar-collapse" id="navbarText">
           <ul class="navbar-nav mr-auto">
             <li class="nav-item">
               <a class="nav-link" href="/search">Search</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="/train">Train</a>
             </li>
           </ul>
           <span class="navbar-text">
             Nick and Adrianos
           </span>
         </div>
     </nav>

     <div class="jumbotron d-flex align-items-center">
         <div class="container">
             <h1 class="display-3">{{status}} Results for {{name}}</h1>
             <hr />
               <div id="main">
                   <table>
                       <tr><th>Ticker</th>          <td>{{name}}</td></tr>
                       <tr><th>Days Analyzed</th>   <td>{{day_analyzed}}</td></tr>
                       <tr><th>Average Volume</th>  <td>{{avg_vol}}</td></tr>
                       <tr><th>Average Price</th>   <td>{{avg_price}}</td></tr>
                   </table>
               </div>
         </div>
     </div>
 </body>
</html>
